* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#app {
/*	background: #303030;*/
	width: 100vw;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.box {
	border: 2pt solid black;
	width: 20rem;
	height: 20rem;
	padding: 2rem;
	transition: all 500ms linear;
/*	transition: all 1500ms;*/
/*	transition: border-color 1500ms;*/
/*	transition: border-color 1500ms, background 500ms, color 3s;*/
}

/*.box:hover {
	background: black;
	color: white;
	border-color: orange;
}

img {
	width: 30rem;
	height: 30rem;
	object-fit: cover;
	transition: transform 2s cubic-bezier(0.34, 1.56, 0.64, 1);
}

img:hover {
	transform: rotate(0.5turn);
}*/

#slider {
	background: red;
}
